<!-- <h1>Liste des pokemons !</h1>
<input type="number" #input  />
<p><button (click)="selectPokemon(input.value)" >cliquer</button></p>
<p *ngIf="pokemonSelected">vous avez slectionee le pokemon : {{ pokemonSelected.name }}</p>  
<p *ngIf="!pokemonSelected" style="color: red;">Exist pas !</p>  
<p *ngFor="let p of pokemonList">{{p.name}}</p> -->
<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-logo center">
            Pokedex
        </a>
    </div>
</nav>
<router-outlet></router-outlet>

